footer {
   margin-top: 30px;
   background-color: var(--black);
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 30px;

   &::after {
      content: '';
      height: 50px;
      position: absolute;
      top: -16px;
      left: 48%;
      width: 50px;
      transform: rotate(45deg);
      background-color: var(--black);
      z-index: -1;
   }

   .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .logo {
         display: flex;
         flex-direction: column;
         align-items: center;
         color: var(--white);

         h5 {
            font-size: 16px;
            font-weight: bold;
         }
         p {
            font-size: 8px;
            font-weight: 200;
         }
      }

      .contact {
         display: flex;
         flex-direction: column;
         gap: 3px;

         address,
         p,
         a {
            color: var(--white);
            font-size: 13px;
         }
      }
   }
}