<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/contact.css">
   <%- include('parts/links', { title: 'HAR Hotel - Contato' }) %>
   <script src="/scripts/contact.js" defer></script>

</head>
<body>
   <div class="container contact-page">
      <header>
         <nav>
            <ul>
               <li>
                  <a href="/" data-route="inicio">Início</a>
               </li>
               <li>
                  <a href="/instalacoes" data-route="instalacoes">Instalações</a>
               </li>
               <li>
                  <a href="/quartos" data-route="quartos">Quartos</a>
               </li>
               <li>
                  <a href="/contato" data-route="contato">Contato</a>
               </li>
            </ul>
         </nav>

         <div class="main-title">
            <h1>Contato</h1>
         </div>
      </header>

      <div class="content">
         <div class="top">
            <h2>Estamos aqui por você</h2>
            <p>
               Nos hotéis de luxo, levamos nossos clientes a sério. Você tem alguma pergunta, 
               reclamação ou pedido, por favor, encaminhe para nosso suporte e nós entraremos 
               em contato com você o mais breve possível.
            </p>
         </div>

         <div class="form-container">
            <div class="left">
               <div class="logo">
                  <h3>HAR<br/>HOTEL</h3>
               </div>

               <div>
                  <p>Rua Antônio João 321 - Bahia</p>
                  <p>+55(11)99835-9242</p>
                  <p>har_hotel@gmail.com</p>
               </div>
            </div>

            <div class="form">
               <form method="POST">
                  <div class="input-block">
                     <label for="name">Nome</label>
                     <input type="text" id="name" name="name">
                  </div>
                  <div class="input-block">
                     <label for="email">E-mail</label>
                     <input type="email" id="email" name="email">
                  </div>
                  <div class="input-block">
                     <label for="message">Mensagem</label>
                     <textarea name="message" id="message"></textarea>
                  </div>

                  <button type="submit">Enviar</button>
               </form>
            </div>
         </div>
      </div>
      <div class="modal-overlay" aria-expanded="false">
         <div class="modal">
            <div class="close-modal">
               <button>𝘅</button>
            </div>
            <div class="header">
               <h2 data-modal-title>Sucesso</h2>
               <p data-modal-icon>✅</p>
            </div>
            <div class="modal-content">
               <p data-modal-message>Mensagem enviada com sucesso</p>
            </div>
         </div>
      </div>
   </div>
   <%- include('parts/footer') %>
</body>
</html>