<footer>
   <div class="content">
      <div class="logo">
         <h5>HAR</h5>
         <p>HOTEL</p>
      </div>
      <div class="contact">
         <address>Rua Antônio João 321 - Bahia</address>
         <p>+11 99835-9242</p>
         <a href="mailto:har_hotel@gmail.com">har_hotel@gmail.com</a>
      </div>
   </div>
</footer>