.header-container {
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
}
@media (max-width: 440px) {
  .overlay nav {
    justify-content: center;
  }
}
.overlay nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.overlay nav ul li a {
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all ease 0.6s;
  position: relative;
}
@media (max-width: 440px) {
  .overlay nav ul li a {
    font-size: 14px;
  }
}
.overlay nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  background-color: var(--white);
  height: 3px;
}
.overlay nav ul li a:hover::after, .overlay nav ul li a.active::after {
  width: 100%;
  transition: all ease 0.6s;
}
.overlay .content {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  margin-left: 60px;
}
@media (max-width: 440px) {
  .overlay .content {
    width: 100%;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: unset;
  }
}
.overlay .content h2 {
  font-size: 30px;
}
@media (max-width: 440px) {
  .overlay .content h2 {
    font-size: 22px;
  }
}
@media (max-width: 440px) {
  .overlay .content h1 {
    font-size: 26px;
  }
}
.overlay .scroll {
  max-width: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.overlay .scroll p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.overlay .scroll div {
  width: 20px;
  height: 20px;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
}
